<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link rel="stylesheet" href="/stylesheets/video.css">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"
  />
</head>
<body>
    <div id="full">
                    <div id="page1">
                        <video controls autoplay muted loop>
                            <source src="/images/uploads/<%=details.videoUrl %>" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div id="describe">
                            <h3><%= details.caption %></h3>
                        </div>
                        <div id="details">
                            <div id="left">
                                <img src="https://th.bing.com/th/id/OIP.Vy5PUdCk1nZpeE31MCa1pwHaHa?rs=1&pid=ImgDetMain" alt="#">
                                <div id="name">
                                    <div id="chname"><h3><%= details.user %></h3></div>
                                </div>
                            </div>
                            <div id="right">
                                <span><button onclick="window.location.href='/video/<%= details._id  %>/like'" class="btn" id="btnh1"><i class="fa-regular fa-thumbs-up"><%= details.likes.length %></i></button></span>
                                <span onclick="toogle2()"><button onclick="window.location.href='/video/<%= details._id  %>/dislike'" class="btn" id="btnh2"><i class="fa-regular fa-thumbs-down"></i></button></span>
                                <span><i class="fa-regular fa-square-plus"></i></span>
                            </div>
                        </div> 
                    </div> 
                    <div id="comments">
                        <h2>comments</h2>
                        <div id="enter">
                            <img src="https://th.bing.com/th/id/OIP.Vy5PUdCk1nZpeE31MCa1pwHaHa?rs=1&pid=ImgDetMain" alt="#">
                        </div>
                        <form action="/video/<%= details._id %>/comments" method="post" enctype="application/x-www-form-urlencoded">
                            <input type="text" placeholder="Add a comment..." id="text" name="comment">
                            <input type="submit" placeholder="submit" id="sub">
                        </form>
                        <h3>Comments</h3>
                        <div id="enterdata">

                            <% for(i=0;i<details.comments.length;i++){ %>
                                <strong><%=details.user %></strong>
                                <br>
                                <%= details.comments[i] %> 
                            <% } %> 
                        </div>
                    </div> 
    </div>
    <script>
        var btnvar1=document.getElementById("btnh1");
        function toogle1(){
            if(btnvar1.style.color==="grey"){
                btnvar1.style.color="red"
            }
            else{
                btnvar1.style.color="grey"
            }
        }
        var btnvar2=document.getElementById("btnh2");
        function toogle2(){
            if(btnvar2.style.color==="grey"){
                btnvar2.style.color="red"
            }
            else{
                btnvar2.style.color="grey"
            }
        }
    </script>
</body>
</html>

